<%= form_tag '/supply/products/disabled_products', method: :get do %>
    <div class="row">
      <div class="columns small-2 text-right"><label>产品名称</label></div>
      <div class="columns small-2"><%= text_field_tag :name, params[:name] %></div>
      <div class="columns small-2 end"><%= submit_tag '查询', class: 'button primary' %></div>
    </div>

<% end %>
<table class="table">
  <thead><th>产品ID</th><th>禁用的产品</th><th>操作</th></thead>
  <tbody>
  <% @disabled_products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.chinese_name %></td>
      <td><%= link_to '解除禁用', "/supply/products/remove_disable?id=#{product.id}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>