<br/>
<%= form_tag supply_products_path, method: :get do %>
    <%= label_tag 'key', '关键词' %>
    <%= text_field_tag 'key', @key_value %>
    <%= submit_tag '查询', class: 'btn btn-primary' %>
    (关键词可以是产品ID、中文名称、缩写)
<% end %>
<br/>

  <% if @products.blank? %>
      <%= "没有找到该产品，是否创建一个新的产品？" %>
      <%= link_to '创建', "/supply/products/new", class: 'btn btn-primary' %>
  <% else %>
    <table class="table table-striped">
      <thead>
      <th>产品ID</th>
      <th>条码</th>
      <th>中文名称</th>
      <th>缩写</th>
      <th>存放位置</th>
      <th>备注</th>
      <th>分类</th>
      <th>操作</th>
      </thead>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.barcode %></td>
        <td><%= link_to product.chinese_name, "/supply/products/#{product.id}" %></td>
        <td><%= product.simple_abc %></td>
        <td><%= product.general_product.location rescue 'error' %></td>
        <td><%= product.general_product.memo rescue 'error' %></td>
        <td><%= select_tag "mark_#{product.id}", options_from_collection_for_select(@marks, 'to_s', 'to_s', product.mark), onchange: "change_mark(#{product.id})" %></td>
        <td>
          <%= link_to '改名称', "/supply/products/strict_edit?id=#{product.id}" %>&nbsp;
          <%= link_to '改其他信息', "/supply/general_products/#{product.general_product.id}/edit" %>
          <%= link_to '置为无效', "/supply/products/soft_delete?id=#{product.id}", data: {confirm: '确定置为无效吗？'} if current_user.admin? %>
          <%= link_to '更改售出系数', "/supply/products/change_sale_ratio?id=#{product.id}" if current_user.admin? %>
          <%#= link_to '新增价格', new_supply_price_path(product_id: product.id) %>
          <%#= link_to '关联通用', "/supply/products/prepare_link_to_general_product?product_id=#{product.id}", target: '_blank' %>
        </td>
      </tr>
  <% end %>
    </table>
    <%= will_paginate @products, :class => 'flickr_pagination', :previous_label => '<<上一页', :next_label => '下一页>>' %>
  <% end %>

<script language="javascript">
    function change_mark(product_id){
        new_mark = $("#mark_"+product_id).val();
        $.ajax({
            url: "/supply/products/mark",
            type: "post",
            data: {
                "product_id": product_id,
                "mark": new_mark
            },
            dataType: 'text'

        })
    }
</script>