<h3>库存状况</h3>
<table class="table">
  <thead>
    <th>产品名称</th><th>仓库</th><th>单位</th><th>库存量</th><th>最后一次进货价格</th>
  </thead>
  <tbody>
    <% sum_money = 0.0 %>
    <% @stocks.each do |stock| %>
        <tr>
          <td><%= stock.general_product.name %></td>
          <td><%= stock.storage.name %></td>
          <td><%= stock.purchase_price.true_spec %></td>
          <td><%= stock.real_weight/stock.purchase_price.ratio %></td>
          <td><%= stock.last_purchase_price %></td>


          <%
             weight = stock.real_weight/stock.purchase_price.ratio
             price = stock.last_purchase_price || 0
             sum_money += price*weight
          %>

        </tr>
    <% end %>
  </tbody>
</table>
<h2>总价值:<%= sum_money %></h2>