<br/>
<%= form_tag supply_orders_path, method: :get do %>
    <span class="sx-width-percent-10">时间区间</span>
    <%= date_field_tag 'date_start', params[:date_start], class: 'sx-width-percent-20 sx-display-inline' %>
    <span class="sx-width-percent-10">至</span>
    <%= date_field_tag 'date_end', params[:date_end], class: 'sx-width-percent-20 sx-display-inline' %>
    <span class="sx-width-percent-10">关键词</span>
    <%= text_field_tag 'key', @key, class: 'sx-width-percent-20 sx-display-inline' %>
    <%= submit_tag '查询', class: 'button primary' %>(关键词可以是订单ID、订货单位ID、订货单位名字)
<% end %>
<br/>
<table class="table table-striped">
  <thead><th>订单ID</th><th>订货单位</th><th>门店</th><th>单据类型</th><th>到货日期</th><th>金额</th><th>操作</th></thead>
    <% @orders.each do |order| %>
      <tr>
        <td>
        <%= order.id %>
        </td>
        <td>
          <%= order.customer.simple_name %>
        </td>
        <td>
          <%= order.store.name rescue 'error' %>
        </td>
        <td>
          <%= order.order_type.name rescue 'error' %>
        </td>
        <td>
          <%= order.reach_order_date %>
        </td>
        <td>
          <%= order.sum_money %>
        </td>
        <td>
          <%= link_to '输入到货量', edit_supply_order_path(order.id), target: '_blank' %>
          <%= link_to '废除', "/supply/orders/#{order.id}", method: :delete, data: {confirm: '确定删除此单据吗？'} %>
        </td>
      </tr>
    <% end %>
</table>

<%= will_paginate @orders, :class => 'flickr_pagination' ,:previous_label => '上一页', :next_label => '下一页', renderer: FoundationPagination::Rails %>