<h3>用户列表</h3>
<table class="table">
  <thead>
  <th>邮箱</th>
  <th>角色</th>
  <th>公司名</th>
  <th>门店名</th>
  <th>用户名</th>
  <th>客户端密码</th>
  </thead>
<% @users.each do |user| %>
<tr>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.roles.pluck(:name).join(',') %>
  </td>
  <td>
    <%= user.company.simple_name rescue '' %>
  </td>
  <td>
    <%= user.store.name rescue '' %>
  </td>
  <td>
    <%= user.user_name %>
  </td>
  <td>
    <%= user.terminal_password %>
  </td>
  <td>
    <%= link_to '修改', "/sp/users/#{user.id}/edit", class: 'button primary' %>&nbsp;
    <%= link_to '设置所属公司', "/sp/users/link_company?id=#{user.id}", class: 'button primary'  %>
    <%= link_to '设置角色', "/sp/users/set_role?id=#{user.id}", class: 'button primary'  %>
  </td>
</tr>
<% end %>

</table>