<h3><%= "#{@user.email}  设置角色" %></h3>


<%= form_tag "/sp/users/set_role?id=#{@user.id}", method: :post do %>
    <% @roles.each do |role| %>
        <%= check_box_tag 'role[]', role.id, @own_roles.include?(role) %><%= role.name %>
    <% end %>
    <%= submit_tag '保存', class: 'btn btn-primary' %>
<% end %>