<br/>
<h3>导出客户月清单</h3>
<%= form_tag export_order_total_for_specified_days_supply_sheets_path, method: :post do %>
    <label>起始日期</label>
    <%= date_field_tag 'start_date', @start_date %>
    <label>结束日期</label>
    <%= date_field_tag 'end_date', @end_date %>
    <label>单位</label>
    <% unless @customers.blank? %>
    <%= select_tag 'customer_id', options_from_collection_for_select(@customers, 'id', 'simple_name', @customer_id), id: "customers_select" %>
    <% end %>
    <label>门店</label>
    <% unless @stores.blank? %>
    <div id="store_select"><%= select_tag 'store_id', options_from_collection_for_select(@stores, 'id', 'name', @store_id) %></div>
    <% end %>
    <%= submit_tag '导出', class: 'btn btn-primary' %>
<% end %>

<script>
    $( "#customers_select")
        .change(function(){
            $.ajax({
                type: 'POST',
                url: "/supply/sheets/"+$(this).val()+"/change_stores/",
                dataType: 'script'
            });
        }).change();
</script>

<br/>
<h3>导出进货清单</h3>
<%= form_tag "/supply/sheets/export_purchase_order", method: :post do %>
    <label>起始日期</label>
    <%= date_field_tag 'start_date', params[:start_date]||@start_date %>
    <label>结束日期</label>
    <%= date_field_tag 'end_date', params[:end_date]||@end_date %>
    <%= submit_tag '导出', class: 'btn btn-primary' %>
<% end %>
<br/>
<h3>导出月汇总单</h3>
<%= form_tag export_order_total_for_specified_month_supply_sheets_path, method: :post do %>
    <label>起始日期</label>
    <%= date_field_tag 'start_date', @start_date %>
    <label>结束日期</label>
    <%= date_field_tag 'end_date', @end_date %>
    <%= submit_tag '导出', class: 'btn btn-primary' %>
<% end %>
<br/>
<h3>导出库存情况</h3>
<%= form_tag "/supply/sheets/export_stocks", method: :post do %>
    <label>起始日期</label>
    <%= date_field_tag 'start_date', params[:start_date] %>
    <label>结束日期</label>
    <%= date_field_tag 'end_date', params[:end_date] %>
    <%= submit_tag '导出', class: 'btn btn-primary' %>
<% end %>
<br/>
<h3>每个产品入出库及损耗情况</h3>
<%= form_tag '/supply/sheets/export_product_in_out', method: :post do %>
    <label>起始日期</label>
    <%= date_field_tag 'start_date', params[:start_date] %>
    <label>结束日期</label>
    <%= date_field_tag 'end_date', params[:end_date] %>
    <%= submit_tag '导出', class: 'btn btn-primary' %>
<% end %>
<br/>
<h3>按商贩统计每日采购总金额</h3>
<%= form_tag '/supply/sheets/export_total_day_money_by_vendor', method: :post do %>
    <label>起始日期</label>
    <%= date_field_tag 'start_date', params[:start_date] %>
    <label>结束日期</label>
    <%= date_field_tag 'end_date', params[:end_date] %>
    <%= submit_tag '导出', class: 'btn btn-primary' %>
<% end %>