<h2><%= @company.simple_name %></h2>
<h3>分类</h3>
<div class="row" id="mark_container">
    <% marks = @company.marks %>
    <% marks = marks.nil? ? '' : marks %>
    <% marks.split(",").each_with_index do |mark, index| %>
        <div class="col-sm-2" id="mark_<%= index %>">
            <label class="inline"><%= mark %></label><%= link_to 'X', "javascript:delete_mark('#{mark}',#{index})" %>
        </div>
    <% end %>
    <div class="col-sm-2">
      <%= text_field_tag "mark", '', size: 10 %>
    </div>
    <div class="col-sm-2 text-center">
      <%= link_to '添加', "javascript:add_mark()", class: 'btn btn-primary' %>
    </div>
</div>
<br/><br/>
<h3>商贩</h3>
<div class="row" id="vendor_container">
  <% vendors = @company.vendors %>
  <% vendors = vendors.nil? ? '' : vendors %>
  <% vendors.split(",").each_with_index do |vendor, index| %>
      <div class="col-sm-2" id="vendor_<%= index %>">
        <label class="inline"><%= vendor %></label><%= link_to 'X', "javascript:delete_vendor('#{vendor}',#{index})" %>
      </div>
  <% end %>
  <div class="col-sm-2">
    <%= text_field_tag "vendor", '', size: 10 %>
  </div>
  <div class="col-sm-2 text-center">
    <%= link_to '添加', "javascript:add_vendor()", class: 'btn btn-primary' %>
  </div>
</div>

<script language="javascript">
  function delete_mark(mark, index){
      $.ajax({
          url: '/supply/i/delete_mark',
          type: 'post',
          data: {
              "mark": mark
          },
          dataType: 'text'
      }).done(
              function(result){
                  if(result=="ok"){
                      $("#mark_"+index).remove();
                  }else{
                      alert(result);
                  }
              }
      )
  }

  function add_mark(){
      $.ajax({
          url: "/supply/i/add_mark",
          type: 'post',
          data: {
              "mark": $("#mark").val()
          },
          dataType: 'text'
      }).done(
              function(result){
                if(result=="ok"){
                    str = '<div class="col-sm-2"><label class="inline">'+$("#mark").val()+'</label></div>';
                    $("#mark_container").append(str);
                }
              }
      )
  }

  function delete_vendor(vendor, index){
      $.ajax({
          url: '/supply/i/delete_vendor',
          type: 'post',
          data: {
              "vendor": vendor
          },
          dataType: 'text'
      }).done(
              function(result){
                  if(result=="ok"){
                      $("#vendor_"+index).remove();
                  }else{
                      alert(result);
                  }
              }
      )
  }

  function add_vendor(){
      $.ajax({
          url: "/supply/i/add_vendor",
          type: 'post',
          data: {
              "vendor": $("#vendor").val()
          },
          dataType: 'text'
      }).done(
              function(result){
                  if(result=="ok"){
                      str = '<div class="col-sm-2"><label class="inline">'+$("#vendor").val()+'</label></div>';
                      $("#vendor_container").append(str);
                  }
              }
      )
  }
</script>