<div id="ys-layout-message"></div>

<h4 class="sx-center sx-margin-bottom-15 sx-margin-top-5"><%= "#{@company.simple_name}进货" %></h4>

<% colors = ['#BBFFEE','#CCFF99','#FFEE99','#FFCCCC','#E8CCFF','#FFE4E1','	#FAEBD7'] %>
<% left = 15 %>

<div class="search_panel">
  <div class="row">
    <div class="columns small-offset-2 small-2 text-right sx-margin-top-5"><span>拼音首字母</span></div>
    <div class="columns small-3"><%= text_field_tag :abc, params[:abc] %></div>
    <div class="columns small-5 text-left end">
      <%= link_to '检索', 'javascript:void(0)', class: 'button primary search-button', id: 'query_button', onclick: "query_product()" %>
    </div>
  </div>
</div>

<div class="order_panel" style="left:<%= left %>px;">
  <div class="row">
    <div class="columns small-4 text-right"><label class="sx-margin-top-5">买自</label></div>
    <div class="columns small-8">
      <%= select_tag :seller_id, options_from_collection_for_select(@sellers, 'id', 'name', params[:seller_id]||(@sellers.first.id rescue '')),
                     class: 'sx-width-percent-60 sx-title-item'
      %>
    </div>
  </div>

  <div class="row">
    <div class="columns small-4 text-right"><label class="sx-margin-top-5">进货日期</label></div>
    <div class="columns small-8">
      <%= date_field_tag :purchase_date, params[:purchase_date]||Time.now.tomorrow.to_date,
                         class: 'sx-width-percent-50 sx-title-item'
      %>
    </div>
  </div>

  <table class="bordered">
    <thead>
    <th width="150px">品名</th><th width="50px">规格</th><th width="50px">数量</th><th width="50px">价格</th><th></th>
    </thead>
    <tbody id="order_item_container">

    </tbody>
  </table>
  <span>合计:</span><span id="sum_money"></span>
</div>

<br/>

<div class="memo_panel" style="left:<%= left %>px;">
  <label>备注</label><br/><%= text_area_tag :memo, params[:memo], class: 'memo_area' %>
</div>

<div style="position: fixed;top: 35px;left: 330px;">
  <%= link_to '保存进货单', "javascript:save_purchase_order()", class: 'button primary search-button' %>
</div>

<% left = left + 300 + 5 %>

<% @big_marks.each_with_index do |mark,index| %>
    <div class="panel sx-panel" style="left:<%= left %>px;background-color: <%= colors[index] %>;">
      <h3 class="sx-center"><%= mark %></h3>
      <div id="<%= mark %>" class="fixed_panel">
        <% @purchase_prices.where("products.mark = ?", mark).limit(16).each_with_index do |purchase_price| %>
            <p onclick="choose_this('<%= purchase_price.product.chinese_name %>')" class="sx-item">
              <sapn><a class="a-item" href='javascript:void(0)'><%= purchase_price.product.chinese_name %></a></sapn>
            </p>
        <% end %>
      </div>
    </div>
    <% left = left + 130 + 5  %>
<% end %>

<div class="panel sx-panel" style="left:<%= left %>px;background-color: <%= colors.last %>">
  <h3 class="sx-center"><%= "其他" %></h3>
  <div id="others" class="fixed_panel">
    <% @purchase_prices.where("products.mark in (?)", @small_marks).limit(16).each_with_index do |purchase_price| %>
        <p onclick="choose_this('<%= purchase_price.product.chinese_name %>')" class="sx-item">
          <span><a class="a-item" href='javascript:void(0)'><%= purchase_price.product.chinese_name %></a></span>
        </p>
    <% end %>
  </div>
</div>

<script language="javascript">
    index = 1;
    function choose_this(product_name){
        main_message = '';
        for(var i= 1;i<=index;i++){
            if ($("#product_name_"+i).size()==1){
                main_message += $("#product_name_"+i).html() + ',';
            }
        }
        if(main_message.indexOf(product_name)>=0){
            renderFlash(product_name + '已经在左方列表里了', 'alert')
            return false;
        }
        $.ajax({
            url: '/supply/purchase_orders/get_price_by_product_name',
            type: 'POST',
            dataType: 'text',
            data: {
                "product_name":product_name,
                "seller_id": $("#seller_id").val()
            }
        }).done(
                function (result) {
                    r = result.split('|');
                    if(r[0]=='0'){
                        str = '<tr id="item_'+index+'" class="product">'+'<input id="purchase_price_id_'+index+'" name="purchase_price_id_'+index+'" type="hidden" value="'+r[1]+'" />'+'<td id="product_name_'+index+'">'+product_name+'</td><td id="spec_'+index+'" class="sx-center">'+r[2]+'</td><td class="sx-center"><input type="text" id="num_'+index+'" name="num_'+index+'" size=5 onchange="calc_sum_money()" class="sx-display-inline sx-width-percent-80 sx-margin-bottom-0" /><td class="sx-center"><input type="text" id="price_'+index+'" name="price_'+index+'", value="", size=5 onchange="calc_sum_money()" class="sx-display-inline sx-width-percent-80 sx-margin-bottom-0" /></td><td><a href="javascript:delete_item('+index+')"><i class="sx-margin-left-5 fa fa-remove fa-lg"></i></a></td></tr>';
                        $("#order_item_container").append(str);
                        index += 1;
                    }else{
                        renderFlash(r[1], 'alert');
                    }
                }
        )
    }

    function calc_sum_money() {
        var sum_money = 0.0;
        for(var i= 1;i<=index;i++){
            if ($("#product_name_"+i).size()==1){
                price = $("#price_"+i).val();
                weight = $("#num_"+i).val();
                sum_money = sum_money + parseFloat(price)*parseFloat(weight);
            }
        }
        if(isNaN(sum_money))
            $("#sum_money").html('有数量或价格没有填写／填错');
        else
            $("#sum_money").html(sum_money.toFixed(2));
    }

    function query_product(){
        abc = $("#abc").val();
        if(abc==''){
            renderFlash('请填写产品拼音首字母，再点击查询', 'alert');
            return false;
        }
        $.ajax({
            url: '/supply/purchase_orders/query_product_by_abc',
            type: 'POST',
            dataType: 'script',
            data: {
                'abc': abc,
                'seller_id': $("#seller_id").val(),
                'supplier_id': <%= @company.id %>
            }
        })
    }

    function change_supplier(){
//        location.href='/purchase/orders/dingyu_send_order?supplier_id='+$('#supplier_id').val();
//      $.ajax({
//          url: '/purchase/orders/dingyu_send_order',
//          type: 'GET',
//          dataType: 'html',
//          data: {
//              'supplier_id': $('#supplier_id').val()
//          }
//      })
    }

    function delete_item(index){
        $("#item_"+index).remove();
        calc_sum_money();
    }

    function save_purchase_order(){
        main_message = '';
        for(var i= 1;i<=index;i++){
            if ($("#product_name_"+i).size()==1){
                main_message += 'purchase_price_id:' + $("#purchase_price_id_"+i).val() + '|';
                main_message += 'real_weight:' + $("#num_"+i).val() + "|";
                main_message += 'price:' + $("#price_"+i).val();
                main_message += ',';
            }
        }
        $.ajax({
            url: '/supply/purchase_orders/create_purchase_order',
            type: 'POST',
            dataType: 'text',
            data: {
                'main_message': main_message,
                'supplier_id': <%= @company.id %>,
                'memo': $('#memo').val(),
                'purchase_date': $("#purchase_date").val(),
                'seller_id': $("#seller_id").val()
            }
        }).done(
                function(result){
                    r = result.split('|');
                    if(r[0]=='0'){
                        renderFlash("保存成功。", 'alert');
                        location.href='/supply/purchase_orders/create_purchase_order?purchase_date='+$('#purchase_date').val()+'&seller_id='+$("#seller_id").val();
                    }else{
                        renderFlash(r[1], 'alert');
                    }
                }
        )
    }

    $("#abc").keypress(function(e){
        var keyCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
        if (keyCode == 13){
            $("#query_button").click();
        }
    });
</script>
