<%= form_tag "/supply/purchase_orders", method: :get do %>
    <label>起始日期</label>
    <%= date_field_tag 'start_date', params[:start_date] %>
    <label>结束日期</label>
    <%= date_field_tag 'end_date', params[:end_date] %>
    <label>包含产品</label>
    <%= text_field_tag 'product_name', params[:product_name] %>
    <%= submit_tag '查询', class: 'btn btn-primary' %>
<% end %>
<br/>
<table class="table">
<thead>
<th>单据ID</th>
<th>卖家</th>
<th>进货日期</th>
<th>进货金额</th>
<th>操作</th>
</thead>
<% @purchase_orders.each do |purchase_order| %>
<tr>
  <td><%= purchase_order.id %></td>
  <td><%= purchase_order.seller.name rescue 'error' %></td>
  <td><%= purchase_order.purchase_date.strftime("%Y年%m月%d日") %></td>
  <td><%= purchase_order.sum_money %></td>
  <td><%= link_to '查看&编辑', "/supply/purchase_orders/#{purchase_order.id}/edit" %></td>
</tr>
<% end %>
</table>
<%= will_paginate @purchase_orders, :class => 'flickr_pagination' ,:previous_label => '上一页', :next_label => '下一页'%>