<h3>搜索过去的产品入库详情</h3>
<%= form_tag '/supply/purchase_orders/search_item', method: :get do %>
    <label>产品名</label><%= text_field_tag :product_name, params[:product_name] %>
    <label>时间区间</label><%= date_field_tag :start_date, params[:start_date] %>
    <label>至</label><%= date_field_tag :end_date, params[:end_date] %>
    <%= submit_tag '查询', class: 'btn btn-primary' %>
<% end %>
<table class="table">
  <thead>
    <th>品名</th>
    <th>价格</th>
    <th>实际进量</th>
    <th>规格</th>
    <th>进货日期</th>
  </thead>
  <tbody>
  <% @purchase_items.each do |i| %>
  <tr>
    <td><%= i.product.chinese_name rescue 'error' %></td>
    <td><%= i.price %></td>
    <td><%= i.real_weight %></td>
    <td><%= i.true_spec %></td>
    <td><%= i.purchase_order.purchase_date.strftime('%Y-%m-%d') %></td>
  </tr>
  <% end unless @purchase_items.blank? %>
  </tbody>
</table>