<div class="row">
  <% if @check.draft? %>
      <%= link_to '继续盘点', edit_supply_check_path(@check), class: 'button btn-primary' %>
      <%= link_to '删除', supply_check_path(@check), method: :delete, remote: true, data: {confirm: '确定删除此盘点吗'}, class: 'button btn-primary' %>
  <% end %>
  <% if @check.submitted? %>
    <%= link_to '生成盘盈单', "#{new_supply_other_order_path}?check_id=#{@check.id}&category=profit", class: 'button btn-primary' if @has_profit && @check.profit_other_order.blank? %>
    <%= link_to '生成盘亏单', "#{new_supply_other_order_path}?check_id=#{@check.id}&category=loss", class: 'button btn-primary' if @has_loss && @check.loss_other_order.blank? %>
  <% end %>
</div>

<div class="row">
  <div class="columns small-2">仓库:<%= @check.storage.name %></div>
  <div class="columns small-2">分类:<%= @check.category %></div>
  <div class="columns small-2">盘点人:<%= @check.creator.user_name %></div>
  <div class="columns small-2">盘点时间:<%= @check.checked_at %></div>
  <div class="columns small-2">状态:<%= @check.status_i18n %></div>
  <div class="columns small-2">盘点项数:<%= @check.check_items_count %></div>
</div>
<br/>
<table>
  <thead>
  <th width="40">序号</th>
  <th width="200">产品名称</th>
  <th width="50">单位</th>
  <th width="75">库存数量</th>
  <th width="75">实际库存</th>
  <th width="50">差异</th>
  <th width="200">备注</th>
  <th width="10"></th>
  </thead>
  <% @check.check_items.includes(:general_product).each_with_index do |check_item, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= check_item.product_name %></td>
      <td><%= check_item.unit %></td>
      <td><%= check_item.storage_quantity %></td>
      <td><%= check_item.quantity %></td>
      <td><%= check_item.profit_or_loss %></td>
      <td><%= check_item.note%></td>
    </tr>
  <% end %>
</table>