<%= form_tag '/supply/prices', method: :get do %>
    <%= label_tag 'year_month_id', '月份' %>
    <%= select_tag 'year_month_id', options_from_collection_for_select(@year_months, 'id', 'val', params[:year_month_id]) %>
    <%= label_tag 'customer_id', '客户' %>
    <%= select_tag 'customer_id', options_from_collection_for_select(@customers, 'id', 'simple_name', params[:customer_id]) %>
    <%= label_tag 'product_name', '产品名称' %>
    <%= text_field_tag 'product_name', params[:product_name] %>
    <%= submit_tag '查询', class: 'btn btn-info' %>
<% end %>
<table class="table table-striped table-hover">
  <thead>
    <th>id</th><th>月份</th><th>客户</th><th>产品</th><th>价格</th><th>规格</th><th>使用次数</th><th>是否废弃</th><th>操作</th>
  </thead>
  <tbody>
  <% @prices.each do |price| %>
    <tr>
        <td><%= price.id %></td>
        <td><%= price.year_month.val %></td>
        <td><%= price.customer.simple_name %></td>
        <td><%= price.product.chinese_name %></td>
        <td><%= price.price %></td>
        <td><%= price.true_spec %></td>
        <td><%= price.print_times %></td>
        <td><%= !price.is_used? ? "废弃" : "" %></td>
        <td><%= link_to '废弃', "/supply/prices/#{price.id}/do_not_use", class: 'btn btn-primary btn-tiny', data: {confirm: "你确定废弃此价格？"} %></td>
    </tr>
  <% end unless @prices.blank? %>
  </tbody>
</table>
<%= will_paginate @prices, :class => 'flickr_pagination', :previous_label => '上一页', :next_label => '下一页' unless @prices.blank? %>


