<br/><br/>
<%= form_tag "/supply/order_items/null_price", method: :get do %>
  开始<%= date_field_tag :start_date, params[:start_date], class: 'sx-display-inline sx-width-auto'  %>
  结束<%= date_field_tag :end_date, params[:end_date], class: 'sx-display-inline sx-width-auto'  %>
  单位ID
  <%= text_field_tag :customer_id, params[:customer_id], class: 'sx-display-inline sx-width-auto'  %>
  排除单位ID
  <%= text_field_tag :not_customer_id, params[:not_customer_id], class: 'sx-display-inline sx-width-auto'  %>
  <%= submit_tag "查询未录入价格的品项", class: "button primary" %>
<% end %>
<table class="table">
  <thead>
    <th>ID</th><td>打单者</td><th>单据ID</th><th>到货日期</th><th>单位</th><th>单位ID</th>
    <th>产品名称</th><th width="20">规格</th><th width="20">价格</th><th width="50">操作</th>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
        <tr id="order_item_<%= order_item.id %>">
          <form accept-charset="UTF-8" action="/supply/prices/<%= order_item.price_id %>/true_update_price" method="post">
              <td><%= order_item.id %></td>
              <td><%= order_item.order.user.user_name rescue 'error' %></td>
              <td><%= order_item.order_id %></td>
              <td><%= order_item.order.reach_order_date rescue 'error' %></td>
              <td><%= order_item.order.customer.simple_name  rescue 'error' %></td>
              <td><%= order_item.order.customer.id  rescue 'error' %></td>
              <td><%= order_item.product.chinese_name rescue 'error' %></td>
              <td><%= order_item.price.true_spec %></td>
              <td id="real_price_oi_<%= order_item.id %>" ondblclick="chang_real_price(<%= order_item.id %>)">
                <%= order_item.real_price %>
              </td>
              <td>
                <%= link_to '', "javascript:chang_real_price(#{order_item.id})", class: 'btn glyphicon glyphicon-pencil', style: 'padding:0px;margin:0px' %>
              </td>
              <!--<td><%#= link_to '废弃', "javascript:destroy_order_item(#{order_item.id})", class: 'button primary' %></td>-->
          </form>
        </tr>
    <% end unless @order_items.blank? %>
  </tbody>
</table>

<%= will_paginate @order_items, :class => 'flickr_pagination' ,:previous_label => '上一页', :next_label => '下一页', renderer: FoundationPagination::Rails unless @order_items.blank? %>

<script language="javascript">
//  function destroy_order_item(order_item_id){
//      $.ajax({
//        url: '/supply/order_items/' + order_item_id + '/change_delete_flag',
//        type: 'get',
//        async: false
//      }).done(
//              function(result){
//          $("#order_item_" + order_item_id).hide();
//      });
//  }

  function chang_real_price(order_item_id) {
      input_str = '<input type="text" name="real_price_oi_text_'+order_item_id+'" size="3" id="real_price_oi_text_'+order_item_id+'">';
      input_str += '<input type="button" name="button" value="保存" size="3" onclick="save_real_price('+order_item_id+')">';
      $("#real_price_oi_"+order_item_id).html(input_str);
  }
  function save_real_price(order_item_id) {
      $.ajax({
          url: "/supply/orders/save_real_price",
          type: "post",
          data: {
              "order_item_id": order_item_id,
              "real_price": $("#real_price_oi_text_"+order_item_id).val()
          }
      }).done(
              function(result){
                  if(result == "error"){
                      alert(result)
                  } else {
                      $("#real_price_oi_"+order_item_id).html(result);
                  }
              }
      )
  }
</script>