<div class="row">
  <div class="col-sm-1 text-right">
    <label>卖家名字</label>
  </div>
  <div class="col-sm-11">
    <%= text_field_tag 'name', params[:name]||@seller.name %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1 text-right">
    <label>店铺名称</label>
  </div>
  <div class="col-sm-11">
    <%= text_field_tag 'shop_name', params[:shop_name]||@seller.shop_name %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1 text-right">
    <label>手机号</label>
  </div>
  <div class="col-sm-11">
    <%= text_field_tag 'phone', params[:phone]||@seller.phone %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1 text-right">
    <label>地址</label>
  </div>
  <div class="col-sm-11">
    <%= text_field_tag 'address', params[:address]||@seller.address %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1 text-right">
    <label>排序</label>
  </div>
  <div class="col-sm-11">
    <%= text_field_tag 'sort_number', params[:sort_number]||@seller.sort_number %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 col-sm-offset-1 end text-left">
    <%= submit_tag '保存', class: 'btn btn-primary' %>
  </div>
</div>