<%# provide(:title, 'New Company') %>
<h1 class="text-center">修改公司</h1>

    <%= form_for @company ,url: sp_company_path ,method: :patch do |f| %>
      <%## render 'shared/error_messages' %>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-3 text-left">
        <%= f.label '公司简称:' %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :simple_name %>
      </div>
    </div>
  </br>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-3 text-left">
        <%= f.label '公司全称:' %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :full_name %>
      </div>
    </div>
  </br>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-3 text-left">
        <%= f.label '电话号码:' %>
      </div>
      <div class="col-sm-8">
        <%= f.telephone_field :phone %>
      </div>
    </div>
  </br>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-3 text-left">
        <%= f.label '公司地址:' %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :address %>
      </div>
    </div>
  </br>
    <div class="text-center">
      <%= f.submit "修改", class: "btn btn-large btn-primary" %>
      <%= link_to '返回公司列表' ,sp_companies_path %>
    </div>
    <% end %>