$(".fixed_panel").html("");
<% @result_products.each do |loss_price| %>
if($("#<%= loss_price.product.mark %>").size()==1){
    str = '<div onclick="choose_this('+'\'<%= loss_price.product.chinese_name %>\''+')" class="sx-item">';
    str += '<span><a class="a-item" href="javascript:void(0)"><%= loss_price.product.chinese_name %></a></span>';
    str += '</div>';
    $("#<%= loss_price.product.mark %>").append(str);
}else{
    str = '<div onclick="choose_this('+'\'<%= loss_price.product.chinese_name %>\''+')" class="sx-item">';
    str += '   <span><a class="a-item" href="javascript:void(0)"><%= loss_price.product.chinese_name %></a></span>';
    str += '</div>';
    $("#others").append(str);
}

<% end %>