<div id="ys-layout-message"></div>

<h4 class="sx-center sx-margin-bottom-15 sx-margin-top-5"><%= "#{@customer.simple_name}-#{@store.name}－后台下订单系统" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '（去订员工餐）', '/purchase/employee_foods' %></h4>

<% colors = ['#BBFFEE','#CCFF99','#FFEE99','#FFCCCC','#E8CCFF','#FFE4E1','	#FAEBD7'] %>
<% left = 15 %>

<div class="search_panel">
  <div class="row">
    <div class="columns small-offset-2 small-2 text-right sx-margin-top-5"><span>拼音首字母</span></div>
    <div class="columns small-3"><%= text_field_tag :abc, params[:abc] %></div>
    <div class="columns small-5 text-left end">
      <%= link_to '检索', 'javascript:void(0)', class: 'button primary search-button', id: 'query_button', onclick: "query_product()" %>
    </div>
  </div>
</div>

<div class="order_panel" style="left:<%= left %>px;">
  <div class="row">
    <div class="columns small-4 text-right"><label class="sx-margin-top-5">供应商</label></div>
    <div class="columns small-8">
      <%= select_tag :supplier_id,
                     options_from_collection_for_select(@suppliers, 'id', 'simple_name', params[:supplier_id]||@supplier_id),
                     onchange: 'change_supplier()',
                     class: 'sx-width-percent-60 sx-title-item'
      %>
    </div>
  </div>

  <div class="row">
    <div class="columns small-4 text-right"><label class="sx-margin-top-5">单据类型</label></div>
    <div class="columns small-8">
      <%= select_tag :order_type_id,
                     options_from_collection_for_select(@order_types, 'id', 'name', params[:order_type_id]||@order_type_id),
                     class: 'sx-width-percent-50 sx-title-item'
      %>
    </div>
  </div>

  <div class="row">
    <div class="columns small-4 text-right"><label class="sx-margin-top-5">到货日期</label></div>
    <div class="columns small-8">
      <%= date_field_tag :reach_date, params[:reach_date]||Time.now.tomorrow.to_date, class: 'sx-title-item' %>
    </div>
  </div>

  <table class="bordered">
    <thead>
      <th width="170px" class="sx-center"><span >品名</span></th>
      <th width="50px" class="sx-center">规格</th>
      <th width="80px" class="sx-center">数量</th>
      <th></th>
    </thead>
    <tbody id="order_item_container">

    </tbody>
  </table>
</div>
<br/>

<div class="memo_panel" style="left:<%= left %>px;">
  <label>其他信息</label><br/><%= text_area_tag :secondary_message, params[:secondary_message], class: 'memo_area' %>
</div>

<div style="position: fixed;top: 35px;left:<%= 330 %>px;">
  <%= link_to '发送订单', "javascript:send_order()", class: 'button primary search-button' %>
</div>

<% left = left + 300 + 5 %>

<% @big_marks.each_with_index do |mark,index| %>
    <div class="panel sx-panel" style="left:<%= left %>px;background-color: <%= colors[index] %>;">
      <h3 class="sx-center"><%= mark %></h3>
      <div id="<%= mark %>" class="fixed_panel">
        <% @products.where(mark: mark).limit(16).each_with_index do |product| %>
            <p onclick="choose_this('<%= product.chinese_name %>')" class="sx-item">
              <span><a class="a-item" href='javascript:void(0)'><%= product.chinese_name %></a></span>
            </p>
        <% end %>
      </div>
    </div>
    <% left = left + 130 + 5  %>
<% end %>

<div class="panel sx-panel" style="left:<%= left %>px;background-color: <%= colors.last %>">
  <h3 class="sx-center"><%= "其他" %></h3>
  <div id="others" class="fixed_panel">
    <% @products.where("mark in (?)", @small_marks).limit(16).each_with_index do |product| %>
        <p onclick="choose_this('<%= product.chinese_name %>')" class="sx-item">
          <span><a class="a-item" href='javascript:void(0)'><%= product.chinese_name %></a></span>
        </p>
    <% end %>
  </div>
</div>


<script language="javascript">
  index = 1;
  function choose_this(product_name){
      $.ajax({
          url: '/purchase/orders/get_spec_by_product_name',
          type: 'POST',
          dataType: 'text',
          data: {
              "product_name":product_name,
              "supplier_id":<%= @supplier_id %>,
              'reach_date': $("#reach_date").val()
          }
      }).done(
              function (result) {
                  r = result.split('|');
                  if(r[0]=='0'){
                      str = '<tr id="item_'+index+'" class="product"><td id="product_name_'+index+'">'+product_name+'</td><td id="spec_'+index+'" class="sx-center">'+r[1]+'</td><td class="sx-center"><input type="text" id="num_'+index+'" name="num_'+index+'" size=5 class="sx-display-inline sx-width-percent-80 sx-margin-bottom-0" /></td><td class="sx-center"><a href="javascript:delete_item('+index+')"><i class="sx-margin-left-5 fa fa-remove fa-lg"></i></a></td></tr>';
                      $("#order_item_container").append(str);
                      index += 1;
                  }else{
                      renderFlash(r[1], 'alert');
                  }
              }
      )
  }

  function query_product(){
      abc = $("#abc").val();
      if(abc==''){
          renderFlash('请填写产品拼音首字母，再点击查询', 'alert');
          return false;
      }
      $.ajax({
          url: '/purchase/orders/query_product_by_abc',
          type: 'POST',
          dataType: 'script',
          data: {
              'abc': abc,
              'supplier_id': <%= @supplier_id %>
          }
      })
  }

  function change_supplier(){
      location.href='/purchase/orders/dingyu_send_order?supplier_id='+$('#supplier_id').val();
//      $.ajax({
//          url: '/purchase/orders/dingyu_send_order',
//          type: 'GET',
//          dataType: 'html',
//          data: {
//              'supplier_id': $('#supplier_id').val()
//          }
//      })
  }

  function delete_item(index){
      $("#item_"+index).remove();
  }

  function send_order(){
      main_message = '';
      for(var i= 1;i<=index;i++){
          if ($("#product_name_"+i).size()==1){
              main_message += $("#product_name_"+i).html();
              main_message += $("#num_"+i).val();
              main_message += $("#spec_"+i).html();
              main_message += ',';
          }
      }
      $.ajax({
          url: '/purchase/orders/send_message',
          type: 'POST',
          dataType: 'text',
          data: {
              'main_message': main_message,
              'supplier_id': $('#supplier_id').val(),
              'secondary_message': $('#secondary_message').val(),
              'order_type_id': $("#order_type_id").val(),
              'reach_date': $("#reach_date").val()
          }
      }).done(
              function(result){
                  r = result.split('|');
                  if(r[0]=='0'){
                      renderFlash("发送成功。", 'alert');
                      location.href='/purchase/orders/dingyu_send_order?supplier_id='+$('#supplier_id').val();
                  }else{
                      renderFlash(r[1], 'alert');
                  }
              }
      )
  }

  $("#abc").keypress(function(e){
      var keyCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
      if (keyCode == 13){
          $("#query_button").click();
      }
  });
</script>