$(".fixed_panel").html("");
<% @result_products.each do |product| %>
    if($("#<%= product.mark %>").size()==1){
        str = '<p onclick="choose_this('+'\'<%= product.chinese_name %>\''+')" class="sx-item">';
        str += '<span><a href="javascript:void(0)"><%= product.chinese_name %></a></span>';
        str += '</p>';
        $("#<%= product.mark %>").append(str);
    }else{
        str = '<p onclick="choose_this('+'\'<%= product.chinese_name %>\''+')" class="sx-item">';
        str += '   <span><a href="javascript:void(0)"><%= product.chinese_name %></a></span>';
        str += '</p>';
        $("#others").append(str);
    }

<% end %>