<!DOCTYPE html>
<html>
<head>
  <title>ShengxingSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<p class="notice"><%= notice %></p>-->
<!--<p class="alert"><%= alert %></p>-->
<header>
  <%= render 'layouts/navigation' %>
</header>

<div class='example'>
  <div class='header'></div>
  <div class='example_content' id='example_3'>
    <div id='top_navigation'>
      <%= render_navigation(:level => 1) %>
    </div>
    <div class='clear_float'></div>
    <div class='content_wrapper'>
      <div id='sub_navigation'>
        <%= render_navigation(:level => 2) %>
      </div>
      <div class='content'>
        <div class='breadcrumbs'>
          <%= render_navigation(:renderer => :breadcrumbs, :join_with => ' &raquo; ', :prefix => '位置: ') %>
          <main role="main">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </main>
        </div>
      </div>
      <div class='clear_float'></div>
    </div>
  </div>
</div>
</body>
</html>
