<!DOCTYPE html>
<html>
<head>
  <title>591库存</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= "#{params[:controller].gsub('/', '-')}-#{params[:action]}" rescue '' %>">
<!--<header>-->
  <!--<%#= render 'layouts/navigation' %>-->
<!--</header>-->
<% if @no_nav %>
<%= yield %>
<% else %>

  <div class="ys-layout-container">
    <div class="ys-layout-header">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="ys-layout-abstract-header"></div>
    <div class="ys-layout-content">
      <div class="ys-layout-sidebar">
        <%= render 'layouts/sidebar' %>
      </div>
      <div class="ys-layout-main">
        <%= render 'layouts/content_header' %>
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
  </div>

<% end %>

</body>
</html>
